@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --white: #ffffff;
  --light-gray: #f1f2f6;
  --orange: #ff8600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--light-gray);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  max-width: 75rem;
  margin: 1.25rem auto;
  padding: 0 1.25rem;
}


